@charset "UTF-8";


/* 전체 레이아웃 */
body {
	font-size: 12px;
	margin: 0;
}
.clear{clear: both;}
div, input, select, tbody, tfoot, td, th {box-sizing: border-box;}
table {border-collapse: collapse;}
ul {list-style: none;}
a {text-decoration: none; color: black;}
#wrapper {
	display: grid;
	grid-template-areas: "header header header"											 
											 "topNav topNav topNav"
											 ". . ."
											 "leftNav mainWrap rightNav"
											 ". . ."
											 "footer footer footer";
	grid-template-rows: 50px 30px 40px minmax(800px, 80%) 20px 120px;
	grid-template-columns: 1fr minmax(600px, 100%) 1fr;	
}
/*  */


/* header */
#header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.headerLogo {
	margin-left: 20px;
	width: 150px;
	height: 40px;
	background-color: yellow; 
}
.headerTitle {font-size: 2em;}
.headerLinkWrap {
	display: flex;
	margin-right: 50px;
}
.marker {
	/* 각 링크 구분 이미지 */
}
.headerLink {margin: 0 5px;}
.headerLink > a:hover {
	cursor: pointer;
	color: tomato;
}
/*  */


/* topNav */
#topNav {
	grid-area: topNav;
	height: 30px;
	background-color: aliceblue;
}
.topNavUl {
	display: flex;
	width: 600px;
	margin: 0 auto;
}
.topNavLi {
	text-align: center;
	margin: 0 10px;
}
.topNavTitle {
	padding: 0 20px;
	font-size: 1.2em;
	height: 30px;
	line-height: 30px;
	background-color: aliceblue;
}
.topNavItems {
	display: none;
	position: relative;
	background-color: aliceblue;
	z-index: 999;
}
.topNavTitle:hover {
	cursor: pointer;
	color: tomato;
}
.topNavTitle:hover ~ .topNavItems {display: block;}
.topNavItems:hover {display: block;}
.topNavItem:hover a{color: tomato;}
/*  */


/* body */
#mainWrap {grid-area: mainWrap;}
/*  */


/* footer */
#footer {grid-area: footer;}
.footerLogo{
	width: 150px;
	height: 50px;
	background-color: red;
}
.footerNavBg {background-color: aliceblue;}
.footerNav {
	display: flex;
	width: 300px;
	height: 20px;
	margin: 0 auto;
	justify-content: space-between;
}
.footerLink {
	width: 100%;
	line-height: 20px;
	text-align: center;
	font-size: 1.1em;
}
.footerLink:hover {cursor: pointer;}
.footerLink:hover a {color: tomato;}
.footerInfo {
	display: flex;
	height: 100px;
	align-items: center;
}
/*  */


/* 메인 페이지 */
.mainInfo {
	display: flex;
	margin: 50px auto;
	width: 1180px;	
	height: 300px;
}
.mainLeft {
	width: 830px;
	align-self: flex-start;
}
.mainLeft > p {font-size: 2em;}
.mainRight {
	width: 350px;
	align-self: flex-end;
}
.mainBtn {
	display: block;
	width: 300px;
	height: 50px;
	margin-left: 50px;
	background-image: url("/mbti/resources/images/mainBtn.png");	
}
/*  */


/* 메인화면 로그인 선택 버튼 모달창 */
.loginTypeWrap {
	display: none;
 	position: fixed;
  z-index: 998;
	left: 0;
	top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}
.loginType {
	position: relative;
	z-index: 999;
  width: 400px;
  height: 200px;
	background-color: lightgoldenrodyellow;
  /* color: white; */
  font-size: 1.4em;
	text-align: center;
}
.loginTypeSpan {
	display: inline-block;
	padding-top: 20px;
}
.loginTypeClose {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 368px;
	width: 32px;
	height: 32px;
	background-color: black;
}
.loginNormalType {
	position: absolute;
	left: 90px;
	top: 100px;
}
.loginOrgType {
	position: absolute;
	left: 210px;
	top: 100px;
}
.loginOrgType:hover, .loginNormalType:hover {cursor: pointer;}
.loginTypeClose:hover {cursor: pointer;}

/*  */


/* 일반 회원 가입 페이지 */
.joinTitle {
	font-size: 2em;
	padding-left: 20%;
}
.joinTitleLine, .memberForm .line {
	width: 630px;
	margin: 0 auto;
	border-top: 5px solid gray;
}
.memberForm {
	width: 700px;
	margin: 0 auto;
}
.joinField {
	display: flex;
	padding: 30px;	
}
.joinInfo {
	position: relative;
	width: 180px;
	text-align: right;
	font-size: 2em;
	color: red;
	padding: 10px 50px 0 0;
}
.optionalInfo {
	position: absolute;
	top: 16px;
	left: 135px;
}
.optionalInfo:hover {cursor: pointer;}
.optionalInfo:hover ~ .optionalInfoText {display: block;}
.optionalInfoText {
	display: none;
	position: absolute;
	top: 45px;
	left: 30px;
	background-color: skyblue;
}
/*.memberForm .line {
	width: 90%;
	margin: 0 auto;
	border-top: 5px solid gray;
}*/
.formLi {margin: 5px 0;}

.memberFormInput {
	width: 200px;
	height: 30px;
	padding: 10px;
	border: 1px solid #E0E3DA;
}
.memberFormInput:hover, .memberForm .email:hover {cursor: pointer;}
.memberFormInput:focus, .memberForm .email:focus {
	outline: none;
	background-color: aqua;
}
.memberForm .email {
	width: 150px;
	height: 30px;
	padding: 10px;
	border: 1px solid #E0E3DA;
}
.memberForm .domain, .memberForm .bType {
	width: 100px;
	height: 30px;
	padding: 5px;
	border: 1px solid #E0E3DA;
	appearance: none;
	background-image: url("/mbti/resources/images/select_arrow.png");
}
.memberForm .zipcode {
	width: 100px;
	height: 30px;
	padding: 10px;
	border: 1px solid #E0E3DA;
}
.memberForm .address1, .memberForm .address2 {
	width: 450px;
	height: 30px;
	padding: 10px;
	border: 1px solid #E0E3DA;
}
.joinBtn {
	margin: 5px 0;
	text-align: center;
}
.memberFormBtn {
	width: 100px;
	height: 30px;
	border: 1px solid #E0E3DA;
	color: #ffffff;
}
.memberFormBtn:hover {
	cursor: pointer;
	opacity: 0.85;
} 
.memberFormSubmit {background-color: tomato;}
.memberFormReset {background-color: skyblue;}
.memberForm .zipcodeBtn {
	margin-left: 30px;
	color: black;
}
/*  */


/* 로그인 페이지 */
.loginForm {
	width: 600px;
	height: 300px;
	margin: 50px auto 0;
	padding: 25px;
	background-color: #f3f3f3;
	text-align: center;
}
.loginForm > .line {
	display: inline-block;
	width: 450px;
	border-top: 5px solid black;
	margin: 10px 0;
}
.loginFormInput > input {
	width: 400px;
	padding: 15px;
	border: 1px solid #E0E3DA;
	font-size: 1.5em;
}
.loginFormInput > input:hover {cursor: pointer;}
.loginId, .loginPass {margin: 10px 0;}
.loginId:focus, .loginPass:focus {
	outline: none;
	background-color: #d3e0f7;
}
.loginSubmit {
	background-color: tomato;
	color: white;
}
.loginSubmit:focus {outline: none};
.formInfo {width: 400px;}
.formInfoSpan {
	display: inline-block;
	width: 400px;
	margin: 5px 0;
	text-align: left;
}
.formInfoSpan > a {
	color: blue;
	font-weight: bold;
}
/*  */


/* 마이페이지 네비게이션 */
#normalLeftNav {
	grid-area: leftNav;
	width: 200px;
	margin: 0 20px;
	border-right: 2px solid gray;
}
.normalLeftLi {
	text-align: right;
	padding: 5px 10px 5px 0;
}
.normalLeftLi > a:hover {
	color: tomato;
	cursor: pointer;
}
.leftLiOn > a {
	color: tomato;
	text-shadow: 1px 1px 1px tomato;
}
/*  */


/* 마이페이지 - 나의 헌혈 정보 */
.noBloodcard {
	width: 620px;
	padding-left: 40px;
	font-size: 2em;
	font-weight: bold;
}
.noBloodcard a {color: tomato;}
.bloodcardList {
	width: 620px;
	padding-left: 40px;
}
.bloodcardList .line {
	width: 100%;
	border-top: 3px solid black;
	margin: 10px 0;
}
.bloodcardTitle, .bloodcard {
	display: flex;
	font-size: 1.5em;
}
.cardTitle, .cardBody {
	flex-basis: 33.3%;
	text-align: center;
}
.bloodcard:hover + .cardContent, .cardContent:hover {display: block;}
.cardContent {
	display: none;
	background-color: lightblue;
	margin-bottom: 10px;
}
.itemTh {
	width: 150px;
	margin-left: 30px;
	padding: 5px 5px 3px 0;
	font-size: 1.25em;
}
.itemTd {
	width: 200px;
	font-size: 1.25em;
}
/*  */


/* 마이페이지 - 헌혈 정보 입력 */
.cAddWrap {
	width: 600px;
	padding: 40px;
	margin-left: 30px;
	background-color: lightgray;
}
.cAddInfo {margin: 20px 0;}
#cAddForm {margin-left: 40px;}
#cAddForm .cAddInput {
	width: 300px;
	margin: 5px 0;
	padding: 10px;
	border: 1px solid #E0E3DA;
}
#cAddForm .cAddInput:hover {cursor: pointer;}
#cAddForm .cAddInput:focus {
	outline: none;
	background-color: #d3e0f7;
}
.centerFindBtn {
	width: 100px;
	margin-left: 5px;
	padding: 7px;
	font-size: 1.25em;
	color: #ffffff;
	border: none;
	background-color: skyblue;
}
.cAddSubmit {
	width: 300px;
	margin-top: 5px;
	padding: 7px;
	font-size: 1.25em;
	color: #ffffff;
	border: none;
	background-color: tomato;
}
.centerFindBtn:focus, .cAddSubmit:focus {outline: none;}
.centerFindBtn:hover, .cAddSubmit:hover {
	cursor: pointer;
	opacity: 0.8;
}
/* */


/* 센터 메인페이지 */
.centerMain {
	width: 1180px;
	margin: 0 auto;
}
.cSummary > .line, .cDetail > .line {
	border-bottom: 2px solid black;
	width: 98%;
	margin: 0 auto;
	padding: 2px 0;
}
.cSummaryT .line, .cDetailT .line {border-bottom: 2px solid black;}
.cSummary {
	float: left;
	width: 400px;
	height: 550px;
	background-color: lightgoldenrodyellow;
	font-size: 16px;
	margin-right: 5px;
}
.cSummaryWrap {height: 485px;}
.cSummaryT .tdSpace, .cDetailT .tdSpace {width: 10px;}
.cSummaryT td {
	padding: 3px 0;
	text-align: center;
	line-height: 22px;
}
.cS1, .cS4, .cS5 {width: 45px;}
.cS2 {width: 110px;}
.cS3 {width: 135px;}
.cSummaryFoot {padding: 4px 0;}
.cSInt {
	display: inline-block;
	width: 340px;
	text-align: right;
	padding-right: 20px;
}
.cSSpan {
	display: inline-block;
	width: 40px;
	text-align: left;
}

.cDetail {
	float: right;
	width: 770px;
	height: 550px;
	background-color: lightgoldenrodyellow;
	font-size: 16px;
}
.cDetailWrap {height: 510px;}
.cDetailHead {padding: 10px 0 10px 0;}
.toHosp {
	float: left;
	padding-left: 20px;
	height: 20px;
	line-height: 10px;
}
.toHospSpan {
	float: right;
	padding-right: 20px;
	height: 20px;
	line-height: 10px;
}
.cDetailT td {
	padding: 3px 0;
	text-align: center;
	line-height: 22px;
}
.cD1, .cD5, .cD6 {width: 45px;}
.cD2 {width: 145px;}
.cD3 {width: 110px;}
.cD4 {width: 75px;} 
.cD7 {width: 100px;}
.cD8 {width: 65px;}
.cD9 {width: 65px;}
.cD10 {width: 55px;}
/* */


/* 병원 메인페이지 */
.hospMain {
	width: 1180px;
	height: 650px;
	margin: 0 auto;
	background-color: lightgoldenrodyellow;
	font-size: 16px;
}
.hSummaryWrap {
	width: inherit;
	height: 610px;
}
.hSummaryTh {background-color: fuchsia;}
.hSummaryT td {
	/* 개별 길이 지정하기 */
	width: 53.6px;
	padding: 4px 0;
	line-height: 22px;
	text-align: center;
}
.hospMain > .line {
	width: 98%;
	border-top: 2px solid black;
	margin: 0 auto;
}
.hSummaryfoot {
	width: 1180px;
	height: 40px;
}
/* */